<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!-- Factory 메서드를 통해 객체 생성 
       factory-method: 객체를 생성해 주는 메서드. 반드시 static 이어야 한다.
       - 해당 클래스의 팩토리 메서드를 호출한다.
       - 리턴 값을 id로 저장한다.
       - TireFactory의 인스턴스가 만들어지는 것이 아니다!!!!!!
       - createTire()가 리턴한 값이 저장되는 것이다.
    -->
    <bean id="tire1" class="spring.test09.TireFactory"
        factory-method="createTire">
      <constructor-arg value="100"/>
    </bean>
    
    <bean id="tire2" class="spring.test09.TireFactory"
        factory-method="createTire">
      <constructor-arg value="101"/>
    </bean>
    
    <bean id="tire3" class="spring.test09.TireFactory"
        factory-method="createTire">
      <constructor-arg value="200"/>
    </bean>
    
    <bean id="tire4" class="spring.test09.TireFactory"
        factory-method="createTire">
      <constructor-arg value="201"/>
    </bean>
    
    <bean id="tire5" class="spring.test09.TireFactory"
        factory-method="createTire">
      <constructor-arg value="0"/>
    </bean>
</beans>




























