<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="sems.dao.StudentDao">
  <resultMap type="sems.vo.StudentVo" id="studentMap">
    <id column="UNO" property="no"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="EMAIL" property="email"/>
    <result column="NAME" property="name"/>
    <result column="TEL" property="tel"/>
    <result column="COMP" property="company"/>
    <result column="POS" property="position"/>
    <result column="STAT" property="workingState"/>
    <result column="LAST_SCH" property="lastSchool"/>
    <result column="ACCT" property="bankingAccount"/>
  </resultMap> 

  <insert id="insert" parameterType="studentVo">
    insert into SE_STUDS (UNO,COMP,POS,STAT,LAST_SCH,ACCT)
    values (#{no}, 
            #{company}, 
            #{position}, 
            #{workingState}, 
            #{lastSchool}, 
            #{bankingAccount})
  </insert>
  <select id="getLoginUser" 
      parameterType="map" resultMap="studentMap">
    select T1.UNO, T1.NAME, T1.EMAIL, T1.TEL, T2.COMP, T2.POS, T2.STAT 
    from SE_USERS T1 left outer join SE_STUDS T2
    on T1.UNO = T2.UNO
    where T1.EMAIL=#{email} and T1.PWD=#{password}
  </select>
  
</mapper>




























