<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 구현체 자동 생성하려면 SQL 파일을 Dao인터페이스와 맞춰야 한다.
namespace=인터페이스이름(패키지 이름 포함)
SQL id=인터페이스 메서드명
 -->  
<mapper namespace="sems.dao.SubjectDao">
  <resultMap type="sems.vo.SubjectVo" id="subjectMap">
    <id column="SNO" property="no"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="TITLE" property="title"/>
    <result column="DEST" property="description"/>
  </resultMap> 
   
   <insert id="insert" parameterType="subjectVo">
    insert into SE_SUBJS(TITLE, DEST)
    values (#{title}, #{description})
  </insert>
   
  <select id="list" resultMap="subjectMap" 
        parameterType="map">
    select SNO, TITLE
    from SE_SUBJS
    order by SNO desc
    limit #{startIndex}, #{pageSize}
  </select>

  <select id="detail" parameterType="int" 
                      resultMap="subjectMap">
    select SNO, TITLE, DEST
    from SE_SUBJS
    where SNO=#{no}
  </select>
  
  <update id="update" parameterType="subjectVo">
    update SE_SUBJS set
      TITLE=#{title},
      DEST=#{description}
    where SNO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from SE_SUBJS
    where SNO=#{value}
  </delete>
</mapper>




























