<?xml version="1.0" encoding="UTF-8"?>
<!-- SubjectMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- DAO 인터페이스만 선언하고, 구현체를 자동 생성되게 하려면
네임스페이스 이름을 인터페이스 이름과 같게 한다.
SQL 아이디 값을 인터페이스의 메서드 이름과 같게 한다.
 -->  
<mapper namespace="sems.dao.UserDao">
  <resultMap type="sems.vo.UserVo" id="userMap">
    <id column="UNO" property="no"/><!-- PK 컬럼에 대해서만 설정한다. -->
    <result column="EMAIL" property="email"/>
    <result column="PWD" property="password"/>
    <result column="NAME" property="name"/>
    <result column="TEL" property="tel"/>
    <result column="FAX" property="fax"/>
    <result column="POSTNO" property="postNo"/>
    <result column="ADDR" property="address"/>
    <result column="PHOT_PATH" property="photoPath"/>
  </resultMap> 

  <select id="getUser" parameterType="map" resultMap="userMap">
    select UNO, NAME, EMAIL,TEL
    from SE_USERS
    where EMAIL=#{email} and PWD=#{password}
  </select>
  
  <insert id="insert" parameterType="userVo"
      useGeneratedKeys="true" keyColumn="UNO" keyProperty="no">
    insert into SE_USERS 
          (NAME,EMAIL,PWD,TEL,FAX,POSTNO,ADDR,PHOT_PATH)
    values (#{name},
            #{email},
            #{password},
            #{tel},
            #{fax},
            #{postNo},
            #{address},
            #{photoPath})
  </insert>
</mapper>




























