<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!--  의존 객체 주입 -->
    <bean id="engine1" class="spring.test05.Engine"
        c:maker="현대자동차" p:cc="1997"/>
    
    <!-- 셋터 메서드에 객체 주소를 줄 때는 ref 속성을 사용한다. -->    
    <bean id="car1" class="spring.test05.Car">
      <property name="model" value="소나타"/>
      <property name="engine" ref="engine1"/>
    </bean>
    
    <bean id="car3" class="spring.test05.Car">
      <property name="model"><value>소나타3</value></property>
      <property name="engine"><ref bean="engine1"/></property>
    </bean>
    
    <!-- 속성으로 객체 주소를 설정할 때는 
      c:파라미터명-ref="객체아이디"
      p:프로퍼티명-ref="객체아이디"
      -->
    <bean id="car2" class="spring.test05.Car"
       c:model="소나타2" c:engine-ref="engine1"/>
        
    <bean id="car4" class="spring.test05.Car"
       p:model="소나타4" p:engine-ref="engine1"/>
</beans>


















