<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web01t</display-name>
  
  <!-- context 파라미터는 누구든 사용할 수 있다. -->
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/studydb</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>study</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>study</param-value>
  </context-param>
    
  <!-- ServletContextListener 등록 -->
  <listener>
    <listener-class>listeners.ContextLoaderListener</listener-class>
  </listener>  
    
  <!-- 
        http://localhost:9999/web01/subject
        위와 같이 클라이언트의 요청 URL이 폴더까지만 지정된다면 
       해당 폴더에서 다음 파일들을 찾아서 보내 준다.
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>






