<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web01t</display-name>
  
  
  <!-- 초기화를 수행하는 서블릿 -->
  <servlet>
    <servlet-name>AppInitServlet</servlet-name>
    <servlet-class>servlets.AppInitServlet</servlet-class>
    
    <!-- 웹 애플리케이션을 시작할 때 자동으로 생성되게 함. 
      번호: 만약 이런 서블릿이 여러개 있을 경우 생성되는 순서를 나타냄.
      한 개 밖에 없을 경우 숫자는 무의미함.
    -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>Hello Servlet</servlet-name>
    <servlet-class>servlets.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hello2 Servlet</servlet-name>
    <servlet-class>servlets.Hello2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hello3 Servlet</servlet-name>
    <servlet-class>servlets.Hello3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet01</servlet-name>
    <servlet-class>servlets.TestServlet01</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Hello Servlet</servlet-name>
    <url-pattern>/test/hello.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Hello2 Servlet</servlet-name>
    <url-pattern>/test/hello2.bit</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>Hello3 Servlet</servlet-name>
    <url-pattern>/test/hello3.bit</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>TestServlet01</servlet-name>
    <url-pattern>/test/test01.bit</url-pattern>
  </servlet-mapping> 
  
  <!-- 
        http://localhost:9999/web01/subject
        위와 같이 클라이언트의 요청 URL이 폴더까지만 지정된다면 
       해당 폴더에서 다음 파일들을 찾아서 보내 준다.
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>






